<section class="todoapp">
    <header class="header">
        <h1 *ngIf="obsToDo | async as TD">{{TD.label}}</h1>
        <form  (keydown.enter)="add(lab.value)">
            <input name="newTodoInput" class="new-todo" placeholder="Que faire?" autofocus #lab />
        </form>
        <a (click)="exportList()" [href]="downloadUri" title="Download JSON" download="todo.json" >Telecharger cette liste</a>
        <span>| Importer liste: </span><input type="file" class="form-control" id="file" (change)="importList($event)" />
    </header>

    <section class="main">
        <input *ngIf="countRemaining | async as nrest; else unchecked" class="toggle-all" type="checkbox" name="toggleAll"  />
        <ng-template #unchecked>
            <input  class="toggle-all" type="checkbox" name="toggleAll" checked />
        </ng-template>
        <label *ngIf="obsToDo | async as TD " (click)="checkAll(TD.items)" for="toggleAll" >Mark all as complete</label>
        <ul class="todo-list" *ngIf="obsToDo | async as TD">
            <li *ngFor="let item of TD.items, let i = index; trackBy: trackByFn" [class.completed]="item.isDone"
                (dblclick)="changeEdit(item.isEditing, item)" (focusout)="changeEdit(true, item) "
                [class.editing]="item.isEditing">
                <app-todo-item *ngIf="(!item.isDone && showActive) || (item.isDone && showDone) || (showAll) "
                    [data]="item" (update)="update($event, item)" (remove)="delete($event)"></app-todo-item>
            </li>
        </ul>
    </section>
    <footer class="footer">
        <!-- <span class="todo-count"><strong></strong> {{remaining}} restantes</span> -->
        <span *ngIf="countRemaining | async as nrest; else zero" class="todo-count"><strong> {{nrest}} restantes</strong></span>
        <ng-template #zero>
            <span class="todo-count">Il ne reste plus de tache.</span>
        </ng-template>
            <ul class="filters">
            <li>
                <a (click)="filterAll()" class="filterAll" [class.selected]="showAll">Tous</a>
            </li>
            <li>
                <a (click)="filterActive()" class="filterActives" [class.selected]="showActive">Actifs</a>
            </li>
            <li>
                <a (click)="filterDone()" class="filterCompleted" [class.selected]="showDone">Complétés</a>
            </li>
        </ul>
        <button (click)="deleteDone()" class="clear-completed">Supprimer cochées</button>

    </footer>
</section>