<form  (keydown.enter)="updateLabel(title.value); title.value=''">
    <input #newTextInput name="newTextInput" class="editTitle" placeholder="nouveau titre de liste" autofocus #title />
</form>
<section class="todoapp">
  
    <header class="header">
        <!-- changer le nom de la liste -->
       

        <!-- affivhage nom de liste -->
        <h1 *ngIf="obsToDo | async as TD">{{TD.label}}</h1>

        <!-- ajouter un item -->
        <form  (keydown.enter)="add(lab.value); lab.value='' ">
            <input name="newTodoInput" class="new-todo" placeholder="Que faire?" autofocus #lab />
        </form>

        <!-- export/imprt -->
        <a (click)="exportList()" [href]="downloadUri" title="Download JSON" download="todo.json" >Telecharger cette liste</a>
        <span>| Importer liste: </span><input type="file" class="form-control" id="file" (change)="importList($event)" />
    </header>

    <!-- <section class="todoapp"> -->
        
    <!-- </section> -->

    <section class="main">
        <!-- Bouton de selection (CHECKall) (disparait quand la valeure est a zero, donc on ajoute un else au lieu de [checked]=isCheked) -->
        <input *ngIf="countRemaining | async as nrest; else unchecked" class="toggle-all" type="checkbox" name="toggleAll"  />
        <ng-template #unchecked>
            <input  class="toggle-all" type="checkbox" name="toggleAll" checked />
        </ng-template>

        <label *ngIf="obsToDo | async as TD " (click)="checkAll(TD.items)" for="toggleAll" >Mark all as complete</label>
       
        <!-- Liste principale -->
        <ul class="todo-list" *ngIf="obsToDo | async as TD">
            <!-- item -->
            <li *ngFor="let item of TD.items, let i = index; trackBy: trackByFn" [class.completed]="item.isDone"
                (dblclick)="changeEdit(item.isEditing, item)" (focusout)="changeEdit(true, item) "
                [class.editing]="item.isEditing">
               
                <app-todo-item *ngIf="(!item.isDone && showActive) || (item.isDone && showDone) || (showAll) "
                    [data]="item" (update)="update($event, item)" (remove)="delete($event)"></app-todo-item>
            
                </li>
        </ul>
    </section>
  
    <footer class="footer">
        <!-- <span class="todo-count"><strong></strong> {{remaining}} restantes</span> -->
        <!-- Items restants -->
        <span *ngIf="countRemaining | async as nrest; else zero" class="todo-count"><strong> {{nrest}} restantes</strong></span>
       <!-- else pas d'item -->
        <ng-template #zero>
            <span class="todo-count">Il ne reste plus de tache.</span>   
        </ng-template>
           
        <!-- filtres -->
        <ul class="filters">
       
            <li>
                <a (click)="filterAll()" class="filterAll" [class.selected]="showAll">Tous</a>
            </li>
            <li>
                <a (click)="filterActive()" class="filterActives" [class.selected]="showActive">Actifs</a>
            </li>
            <li>
                <a (click)="filterDone()" class="filterCompleted" [class.selected]="showDone">Complétés</a>
          
            </li>
        </ul>
       
        <button (click)="deleteDone()" class="clear-completed">Supprimer cochées</button>

    </footer>



</section>   
<!-- liste des listes: matrix reloaded -->
<section class="matrix">
    
    <mat-list role="list"   *ngIf="obsList | async as L">
        <h2 id="listTitle">Vos listes ({{listNb}})</h2>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem"  *ngFor="let item of L; let i = index" > 
            <a  [class.selected]="i==selected" class="other-lists" (click)="changeList(item.id, i)">{{item.label}}</a>
            <!-- <a  [class.selected]="i==selected" class="other-lists" (click)="changeList(item.id, i)">{{item.id.replace(userId,'')}}, {{item.label}}</a> -->
            <a (click)="deleteList(item)" class="delete"> supprimer liste</a>
            <mat-divider></mat-divider>

        </mat-list-item>
    </mat-list>
    <!-- nouvelle liste: neo rencontre l'architecte-->
    <a (click)="newList(listNb)" class="new-list" > Creer nouvelle liste</a>
</section>

  <!-- changement label  -->
     <!-- <input *ngIf="obsToDo | async as TD" #newTextInput
    name      = "newTextInput"
    class     = "edit"
    type="text"
    [ngModel]="TD.label"
    (ngModelChange)="updateLabel($event)"
    /> -->

